{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
  function save(){
    var path ="/save_text_answers?";
    {% for item in dataQ %}
    path = path + "answer{{item.id}}="
    + document.getElementById("answer"+{{item.id}}).value +"&"
    {% endfor %}
    fetch(path)
      .then(response => {

        // (1) 通信が成功したか確認する
        if (!response.ok) {

          // (2) 通信に失敗したときはエラーを発生させる
          throw new Error('Not ok');
        }
        // (3) レスポンスデータからJSONデータを取得
        return response.json();
      })
      .then(data => {
        // (4) 受け取ったデータをコンソール出力
        
      })
      .catch(error => {
        // (5) エラーを受け取ったらコンソール出力
        console.error(error);
      });
  }
  

</script>
<link href="../static/css/answer.css" rel="stylesheet"/>

<table>
  <form action="{% url 'answer' %}" method ="post">
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td></td><td><input type="submit" value="click"></td></tr>
  </form>
</table>

<div class="list">
  <h3>回答リスト</h3>
  {% for item in data %}
  <p>{{item.content}}</p>
  {% empty %}
  <h1>現在保存されている回答はありません</h1>
  {% endfor %}
</div>
<div class="listQ">
  <h2>質問リスト</h2>
  {% for item in dataQ %}
  <p>{{item.id}}:{{item.content}}</p>
  <input type="text" id="answer{{item.id}}">
  {% empty %}
  <h1>現在保存されている質問はありません</h1>
  {% endfor %}
  <a href="#" onclick="save()">送信</a>
</div>
{% endblock %}