{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
  function save(){
    var path ="/save_text_answers?";
    {% for item in dataQ %}
    path = path + "answer{{item.id}}="
    + document.getElementById("answer"+{{item.id}}).value +"&"
    if(document.getElementById("answer"+{{item.id}}).value==""){
      alert("入力されていない必須項目があります");
      return 0
    }
    {% endfor %}
    fetch(path)
      .then(response => {
        if (!response.ok) {
          throw new Error('Not ok');
        }
        return response.json();

      })
      .then(data => {
        alert("アンケートを送信しました")

      })
      .catch(error => {
        console.error(error);
        alert("アンケートを送信しました")//todo

      });
  }
  

</script>
<link href="../static/css/answer.css" rel="stylesheet"/>


<div class="listQ">
  <h2>アンケート</h2>
  {% for item in dataQ %}
  <p>{{item.id}}:{{item.content}}</p>
  <input type="text" id="answer{{item.id}}">
  {% empty %}
  <h1>現在保存されている質問はありません</h1>
  {% endfor %}
  <a href="/answer" onclick="save()">送信</a>
</div>
{% endblock %}