{% extends "base.html" %}
{% block content %}
<script>
  
</script>
<link href="../static/css/answer.css" rel="stylesheet"/>

<table>
  <form action="{% url 'answer' %}" method ="post">
    {% csrf_token %}
    {{ form.as_table }}
    <tr><td></td><td><input type="submit" value="click"></td></tr>
  </form>
</table>

<div class="list">
  <h3>回答リスト</h3>
  {% for item in data %}
  <p>{{item.content}}</p>
  {% empty %}
  <h1>現在保存されている回答はありません</h1>
  {% endfor %}
</div>
<div class="listQ">
  <h2>質問リスト</h2>
  {% for item in dataQ %}
  <p>{{item.id}}:{{item.content}}</p>
  <input type="text" id="answer{{item.id}}">
  {% empty %}
  <h1>現在保存されている質問はありません</h1>
  {% endfor %}
  <a href="#">送信</a>
</div>
{% endblock %}