{% extends "base.html" %}
{% block content %}
{% load static %}

  <head>
    <title>test</title>
    <link href="../static/css/index.css" rel="stylesheet"/>
    
    <script>
      function delete_question(path){
        fetch(path)
        .then(response => {

          // (1) 通信が成功したか確認する
          if (!response.ok) {

            // (2) 通信に失敗したときはエラーを発生させる
            throw new Error('Not ok');
          }
          // (3) レスポンスデータからJSONデータを取得
          return response.json();
        })
        .then(data => {
          // (4) 受け取ったデータをコンソール出力
         
        })
        .catch(error => {
          // (5) エラーを受け取ったらコンソール出力
          console.error(error);
        });
      }
      
    </script>
  </head>
  <body>
   
    <table class="list">
      <tr>
        <th>質問ID</th>
        <th>質問内容</th>
        <th></th>
        <th></th>
      </tr>
      {% for item in data %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.content}}</td>
          <td><a href="{% url 'delete_question_text' item.id %}">削除</a></td>
        </tr>
      {% empty %}
        <h1>現在保存されている質問はありません</h1>
      {% endfor %}
    </table>
    <table>
      <form action="{% url 'index' %}" method ="post">
        {% csrf_token %}
        {{ form.as_table }}
        <tr><td></td><td><input type="submit" value="click"></td></tr>
      </form>
    </table>
  </body>
</html>
{% endblock %}