{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
  function save(){
    var path ="/save_text_answers?";
    {% for item in dataQ %}
    path = path + "answer{{item.id}}="
    + document.getElementById("answer"+{{item.id}}).value +"&"
    {% endfor %}
    fetch(path)
      .then(response => {

        // (1) 通信が成功したか確認する
        if (!response.ok) {

          // (2) 通信に失敗したときはエラーを発生させる
          throw new Error('Not ok');
        }
        // (3) レスポンスデータからJSONデータを取得
        return response.json();
      })
      .then(data => {
        // (4) 受け取ったデータをコンソール出力
        
      })
      .catch(error => {
        // (5) エラーを受け取ったらコンソール出力
        console.error(error);
      });
  }
  

</script>
<link href="../static/css/sub.css" rel="stylesheet"/>



<div class="listQ">
  <h2>アンケート</h2>
  {% for item in dataQ %}
  <p>{{item.id}}:{{item.content}}</p>
  <p>
    <input type="radio" name="q{{item.id}}" value="1"> とても悪い
    <input type="radio" name="q{{item.id}}" value="2"> 悪い
    <input type="radio" name="q{{item.id}}" value="3"> 普通
    <input type="radio" name="q{{item.id}}" value="4"> まあまあ
    <input type="radio" name="q{{item.id}}" value="5"> とてもよい
  </p>

  {% empty %}
  <h1>現在保存されている質問はありません</h1>
  {% endfor %}
  <a href="#" onclick="save()">送信</a>
</div>
{% endblock %}